
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.active{
    @apply text-purple-500 underline underline-offset-4
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.pagination li{
    margin: 0 5px;
}

.pagination a{
    display: inline-block;
    padding: 5px 10px;
    border:1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    
}
.pagination a:hover{
    background:purple;
}
.pagination li.activePagination{
    background: rgba(195, 0, 255, 0.308);
    border-radius: 4px;
    color: #fff;
}
.active-button{
    color: purple;
}
.card{
    height: 300px;
    width: 200px;
    text-align: center;
    box-shadow: 20px;
    /* backdrop-filter: blur(10px);
    background: transparent; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
   
}
.card img{
  margin-left: 15px;
  border-radius: 12px;


}

.card:hover{
    box-shadow: 10px 10px 5px lightslategray;

}

.service-card img{
    height: 150px;
}
.service-card:hover{
    box-shadow: 10px 10px 5px rgba(132, 119, 153, 0.744);
}

.service-content{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.service-content p{
    padding: 50px;
}

